<table class="ui table" [ngClass]="classNames">
    <thead>
        <tr>
            <!-- STUFF BELOW NOT WORKING -->
            <!-- <th *ngFor="let header of headers">
                {{ header.label }}
            </th> -->
        </tr>
    </thead>
    <tbody>
        <!-- STUFF BELOW NOT WORKING -->
        <!-- <tr *ngFor="let record of data">
            
            <td *ngFor="let header of headers">
                {{ record[header.key] }}
            </td>
        </tr> -->
    </tbody>

</table>